<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Flag.pdf</string>
	<string>Mine.pdf</string>
	<string>Explosion.pdf</string>
	<string>Skull and Bones.pdf</string>
	<string>Heart.pdf</string>
	<string>Skull and Bones Placard.pdf</string>
	<string>Flower.pdf</string>
	<string>Balloon.pdf</string>
	<string>Exploding Balloon.pdf</string>
	<string>Apple.pdf</string>
	<string>Paper Boat.pdf</string>
	<string>Cloud.pdf</string>
	<string>Moon.pdf</string>
	<string>Bug.pdf</string>
</array>
</plist>
